<div class="intro-cta">
  <input type="text" name="company" placeholder="Company name">
  </input>
  <p class="small">{{small-link}}</p>
  <div class="split-box-2">
    <button id="explore">{{explore-link}}</button>
    <p>{{explore-p}}</p>
  </div>
  <div class="split-box-2">
    <button id="submit-report">{{submit-link}}</button>
    <p>{{submit-p}}</p>
  </div>
</div>