<div class="outcomes autocalculate">
<table>
  <thead>
    <tr>
      <th rowspan="2"></th>
      <th rowspan="2">Rejected</th>
      <th rowspan="2">No data</th>
      <th rowspan="2">Content disclosed</th>
      <th rowspan="2">Non-content disclosed</th>
      <th rowspan="2">Total</th>
    </tr>
  </thead>
  <tbody>
    <tr {{#if review}}class="disabled"{{/if}}>
      <td>
        # Received
      </td>
      <td>
        <input type="text" name="{{prefix}}-rejected" {{#if review}}readonly="readonly"{{else}}required{{/if}}></input>
      </td>
      <td>
        <input type="text" name="{{prefix}}-no-data" {{#if review}}readonly="readonly"{{else}}required{{/if}}></input>
      </td>
      <td>
        <input type="text" name="{{prefix}}-content-disclosed" {{#if review}}readonly="readonly"{{else}}required{{/if}}></input>
      </td>
      <td>
        <input type="text" name="{{prefix}}-non-content-disclosed" {{#if review}}readonly="readonly"{{else}}required{{/if}}></input>
      </td>
      <td>
        <input type="text" name="{{prefix}}-total" readonly="readonly" class="disabled"></input>
      </td>
    </tr>
    <tr class="disabled">
      <td>
        % of total
      </td>
      <td>
        <input type="text" readonly="readonly" name="{{prefix}}-pc-rejected"></input>
      </td>
      <td>
        <input type="text" readonly="readonly" name="{{prefix}}-pc-no-data"></input>
      </td>
      <td>
        <input type="text" readonly="readonly" name="{{prefix}}-pc-content-disclosed"></input>
      </td>
      <td>
        <input type="text" readonly="readonly" name="{{prefix}}-pc-non-content-disclosed"></input>
      </td>
      <td>
        <input type="text" name="{{prefix}}-pc-total" readonly="readonly" value=100></input>
      </td>
    </tr>

  </tbody>
</table>
</div>