<div class="progress-bar">
  <span style="width:{{progress}}%"></span>
</div>
<div class="progress-buttons">
  <a href="submit-report-{{subtract index 2}}.php" class="progression {{#if first}}disabled{{/if}}">< Back</a>
  <input type="submit" class="progression" name="save-section-{{subtract index 1}}" value="Next >" id="save-section-{{subtract index 1}}"></input>
  <!-- <a id="submitSectionButton{{subtract index 1}}" class="progression" {{#if isEnd}} href="#" {{else}} href="submit-report-{{index}}.php"{{/if}}>Next ></a> -->
</div>