---
currentPage: home
intro-text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna eiusmod tempor incididunt."
small-link: "Link to explore all data"
explore-link: "Explore report"
submit-link: "Submit report"
explore-p: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna."
submit-p: "Go audemo C. Epotem untrum horei fac octus adhuctampl. Nihil vius auderis sinculicia audenis, porio etius es vatiam ium firmis."
overlay-p: "Expedita sunt illum rem. Quas eveniet eum molestiae. Voluptatum quam fugiat eligendi voluptas delectus iste quibusdam. Maxime tempore asperiores ducimus ex. Voluptate aut sint rerum."
additionalScript: "https://apis.google.com/js/platform.js"
clientID: "866567614664-plajrfu1bkmapbop03i30nh9vdmmdqe3"
---
<div class="intro-area">
  <img src="#" class="placeholder" />
  <p>{{this.intro-text}}</p>
</div>
<div class="intro-cta">
  <form>
  <input type="text" name="company" required value="" id="originalCompany" placeholder="Company name">
  </input>
  <p class="small">{{small-link}}</p>
  <div class="split-box-2">
    <a id="explore" href="explore-reports.html">{{explore-link}}</a>
    <p>{{explore-p}}</p>
  </div>
  <div class="split-box-2">
    <input type="submit" id="submit-report" value="Submit report"></input>
    <p>{{submit-p}}</p>
  </div>
</form>
</div>
<div class="overlay">
  <p>{{overlay-p}}</p>
  <div class="g-signin2" data-onsuccess="onSignIn"></div>
  <form action="submit-report-0.php" method="post">
    <input type="text" name="company" id="copyCompany" placeholder="Company name"/>
    <input type="submit" name="company-submit" value="Got it!" id="to-form"></input>
  </form>
</div>
<div class="overlay-background">
</div>